@import "./cdn";
@import "./main";
@import "./mixins";
@import "./variables";
@import "./fonts";

header {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}


header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:  rgba(37, 43, 73, 0.8);
    z-index: 1;
    

}




.header-container {
    max-width: 1170px;
    margin: auto;
    // background-color: #ffffff;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    
    
}

.logo {
    padding: 26px;
    z-index: 1;
}

.logo-gray {
    color: $gray;
    font-size: 25px;
    font-weight: 600;
    
}

.logo-white {
    color: $white;
    font-size: 25px;
}

.menu-wrapper {
    display: flex;
    // padding: 26px 0;
    justify-content: space-between;
    
}

.menu-list {
    display: flex;
    z-index: 1;
}

.menu-list__item {

    font-size: 13px;
    padding: 26 30px;
    text-transform: uppercase;
    // transition: 0.5s;
    z-index: 1;

    &:hover {
        border-bottom: 3px solid #BABBC5;
        cursor: pointer;
    }

    a {
        color: $white;
        
    }
}




.menu-list__item:active {

    border-bottom: 3px solid rgba(231, 20, 20, 1);

    a {
        color: rgba(231, 20, 20, 1);
        ;
    }

}











.line {
    border: 1px solid #BABBC5;
    // width: 1170px;
    margin: 0px 0 130px;
    z-index: 1;
}

.title {
    color: $white;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
    font-size: 34px;
    font-family: Raleway;
    font-weight: 300;
    z-index: 1;

}

.description {
    color: $white;
    text-align: center;
    padding-bottom: 80px;
    z-index: 1;
}

.button {
    display: flex;
    justify-content: center;

}



.button-wrapper__item {
    color: $white;
    background-color: $red;
    padding: 15px 70px;
    text-transform: uppercase;

    &:hover {
        background-color: $red-hover;
    }

    &:active {
        box-shadow: 4px 4px 30px 0px #FF4343;

    }
}


.menu-burger{
    display: none;
}

.menu-wrapper__mobile{
    display: flex;
    justify-content: space-between;
}




@media (max-width: 1024px){

    .menu-list.active{
        display: block;
        // transform: translateX(0);
    }

    .menu-wrapper{
        flex-direction: column;
   }

    .menu-list{
        display: none;
        // transform: translateX(-100%);
    }
    .menu-burger{
        display: block;
        &:hover{
            cursor: pointer;
        }
        &:active{
            cursor: pointer;
        }
    }
  }





