@import "./cdn";
@import "./main";
@import "./mixins";
@import "./variables";
@import "./fonts";

.portfolio-container {
    padding: 120px 0;
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio-item {
    // width: 100%;
    max-width: 278px; 
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .portfolio__mask {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity: 0;
    height: 100%;
    background: #333; 
    
    transform: translateY(100%);
    transition: all .27s ease-in-out;
  }
  
  .portfolio__mask:before {
    content: '';
    display: inline-portfolio;
    vertical-align: middle;
    width: 1px;
    height: 100%;
  }
  
  .portfolio__mask p {
    display: inline-portfolio;
    vertical-align: middle;  
    width: 85%;  
    font-family: Tahoma, serif;
    text-align: center;

    color: #fff;
    
    transition: all .27s .27s ease-in-out;
  }
  
  .portfolio-item:hover .portfolio__mask {
    opacity: .85;
    transform: translateY(0%);
  }

  .portfolio-item:hover .portfolio__inner img {
    
    transition: 1s;
    transform: scale(1.5);
  }
  
