@import "./cdn";
@import "./main";
@import "./mixins";
@import "./variables";
@import "./fonts";
@import "./header";
@import "./benefits";
@import "./portfolio";
@import "./slider";
@import "./download";
@import "./footer";
@import "./staff";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {

  font-family: 'Cardo', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}