@import "./cdn";
@import "./header";
@import "./benefits";
@import "./main";
@import "./mixins";
@import "./variables";
@import "./fonts";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  
  font-family: 'Cardo', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

